<!DOCTYPE HTML>
<html>
	<head>
    <meta charset="utf-8" />
    <title>PriCoSha</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Unica+One" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>

    <style> 
    	body {
    		background: #EFEFEF;
    	}
    	#login {
				width: 40vw;
				height: 55vh;
				position: absolute;
				top: 0px;
				left: 0px;
				right: 0px;
				bottom: 0px;
				margin: auto;
			}
			.ui.header.title {
				font-family: 'Unica One', cursive;
				font-size: 65px;
				color: #FF3B3F;
				letter-spacing: 3px;
				margin-bottom: 2px;
			}
		</style>
	</head>
	<body>
		<div id="login">
	  	<h1 class="ui header center aligned title">PriCoSha </h1>
	  	<% if (error) { %>
	  		<div class="ui negative message"> <%= err %> </div>
	  	<% } %>
	  	<form class="ui form" action="/login" method="POST">
	  		<div ui class="ui segment">
	  			<div class="field"> 
	  				<label> Username </label>
	  				<div class="ui left icon input">
            	<i class="user icon"></i>
            	<input type="text" name="username" placeholder="Username" required>
          	</div>
	  			</div>
	  			<div class="field">
	  				<label> Password </label>
	  				<div class="ui left icon input">
	  					<i class="lock icon"></i>
		  				<input type="password" name="password" placeholder="Password" required/>
		  			</div>
	  			</div>
	  			<input formaction="/loginAuth" type="submit" value="Login" class="ui fluid compact large submit button" style="background:#CAEBF2; margin-bottom: 10px"/>
	  			<a href="/register"><div class="ui fluid compact large register button" style="background:#A9A9A9; color: white">Register</div></a>
	  		</div>
	  	</form>
	  </div>
	</body>
</html>
